DeparturePlace<input #dept text="text"   id="dept"><br>
ArrivalPlace<input #arr text="text"   id="arr"><br>
<button type="button" (click)="getUsersSearchFlight(dept.value,arr.value)">SearchFlight</button><br>
<br>
<br>
<br>

<table border="1">
    <tr>
        <td>Select Flight</td>
        <td>Airline</td>
        <td>Flight_no</td>
        <td>StartTime</td>
        <td>EndTime</td>
        <td>Cost</td>
        
       
    </tr>
    <tr *ngFor="let item of data">
    
    <td>{{item.airline}}</td>
    <td>{{item.flightno}}</td>
    <td>{{item.startdatetime}}</td>
    <td>{{item.endDateTime}}</td>
    <td>{{item.cost}}</td>
   
    <button type="button" (click)="BookFlight(item.flightno)">Book</button><br>;
    
</tr>
</table>